@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
}

.flex-container-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 15vh;
}

.flex-item-nav .nav-center-box {
    flex-grow: 4;
}

.nav-center-box span {
    margin: 20px;
}

.nav-center-box span:hover {
    color: #a666d7;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: underline;
}

.mobile {
    display: none;
}

.flex-container-main1 {
    width: 75%;
    display: flex;
    margin: auto;
    margin-top: 5%;
}

.flex-item-main1 {
    margin: 20px;
}

.flex-item-main1-box2 {
    text-align: right;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 8%;
}

.flex-item-main1-box2 button {
    margin-top: 6%;
}

.flex-container-main2 {
    height: 20vh;
    background-color: #8B48BF;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-item-main2 {
    width: 35%;
}

.flex-item-main2-box1 h2 {
    font-size: 36px;
    font-weight: 700;
}

.flex-item-main2-box2 p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
}

.big-container-main3 {
    background-color: #FAFAFA;
}

.flex-container-main3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

.flex-item-main3 {
    width: 50%;
    padding: 35px;
    text-align: left;
}

.flex-item-main3 h3 {
    display: inline;
}

.flex-item-main3-box1-body2 p {
    margin-top: 5%;
}

.main3-item-body {
    display: inline;
    text-align: left;
    padding-left: 5%;
}

.flex-container-main3-box1-body {
    display: flex;
}

.flex-item-main3-box1-body1 {
    margin-right: 6%;
}

.flex-item-main3-box1-body1 p {
    background-color: #8B48BF;
    padding: 10px 25px;
    border-radius: 30px;
    color: white;
}

.bm-big-container {
    margin-top: 8%;
}

.bm-h2-box {
    text-align: center;
    font-weight: 700;
    font-size: 39px;
}

.flex-container-bm {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.flex-item-bm {
    width: 25%;
    background-color: #FAFAFA;
    position: relative;
    margin-bottom: 30px;
}

.flex-item-bm-content {
    font-weight: 500;
    font-size: 16px;
    padding: 30px;
    position: relative;
    text-align: center;
}

.flex-item-bm-content h3 {
    margin-top: 20px;
}

.flex-item-bm-content p {
    margin-top: 20px;
}

.flex-item-bm-content img {
    position: absolute;
    z-index: 50;
    top: -4vh;
    left: 40%;
}

.bm-button-final {
    background-color: #8B48BF;
    padding: 10px 25px;
    border-radius: 30px;
    color: white;
    text-align: center;
    margin: auto;
    width: 6%;
}

.bm-button-final button {
    text-decoration: none;
    border: none;
    background: none;
    color: white;
}

.get-flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    background-color: #8B48BF;
    color: white;
    margin-top: 10%;
}

.get-flex-item h2 {
    font-weight: 700;
    font-size: 40px;
    width: 70%;
}

.get-button-final {
    text-decoration: none;
    border: none;
    background: none;
    padding: 10px 28px;
    color: #8B48BF;
    background-color: white;
    border-radius: 50px;
}

.footer-big-container {
    height: 30vh;
    background-color: #1E1E26;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-socials ul {
    margin-top: 40%;
    display: flex;
    list-style: none;
}

.footer-socials ul li {
    margin: 5px;
}

.footer-nav1 ul {
    list-style: none;
}

.footer-nav1 ul li {
    margin: 15%;
    font-size: 16px;
    line-height: 23px;
    width: 100%;
}

.footer-nav2 {
    margin-bottom: 1.5%;
}

.footer-nav2 ul {
    list-style: none;
}

.footer-nav2 ul li {
    margin: 13%;
    font-size: 16px;
    line-height: 23px;
    width: 100%;
}

.form-box {
    margin-bottom: 25%;
}

.form-box form input {
    border-radius: 50px;
    padding: 10px 7px;
}

.form-box form button {
    text-decoration: none;
    border: none;
    background: #8B48BF;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

.copy-box p {
    font-size: 12px;
    line-height: 18px;
    color: #8C8C94;
    text-align: right;
}

.button-navbar {
    text-decoration: none;
    border: none;
    background-color: #8B48BF;
    padding: 10px 25px;
    border-radius: 50px;
}

.button-navbar a {
    text-decoration: none;
    color: white;
}

.button-navbar:hover {
    background-color: #8B48BFB2;
    transition: 0.2s;
}

.bm-button-final:hover {
    background-color: #8B48BFB2;
    cursor: pointer;
    transition: 0.2s;
}

.bm-button-final button {
    cursor: pointer;
}

.get-button-final:hover {
    background-color: #232C50;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

.footer-socials ul li img:hover {
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px white);
    transition: 0.2s;
}

.footer-nav1 ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s;
}

.footer-nav2 ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s;
}

.form-box form button:hover {
    background-color: #8B48BFB2;
    cursor: pointer;
    transition: 0.2s;
}

/* Mobile */

@media (max-width: 481px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .flex-container-main1 {
        flex-wrap: wrap;
        width: 100%;
    }

    .flex-item-main1 img {
        width: 98%;
        height: auto;
    }

    .flex-container-main2 {
        flex-wrap: wrap;
        width: 100%;
        height: 50vh;
        background-color: #3CDDF3;
        ;
    }

    .flex-item-main2 {
        width: 90%;
    }

    .flex-container-main3 {
        flex-wrap: wrap;
        width: 100%;
    }

    .flex-item-main3 {
        width: 98%;
    }

    .flex-item-bm {
        width: 100%;
        margin-top: 10%;
    }

    .flex-item-bm-content img {
        top: -5vh;
        left: 42%;
    }

    .bm-button-final {
        width: 20%;
    }

    .get-flex-container {
        flex-wrap: wrap;
        height: 45vh;
        background-color: #3CDDF3;
        ;
    }

    .get-flex-item h2 {
        width: 100%;
        text-align: center;
    }

    .get-button-final {
        background: #232C50;
        color: white;
    }

    .footer-big-container {
        height: 70vh;
        width: 100%;
    }

    .footer-nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: top;
        width: 70vw;
        max-width: 100%;
    }

    .nav-item1 .nav-item2 {
        width: 100%;
    }

    .nav-item1 ul li {
        list-style: none;
        padding-bottom: 5px;
    }

    .nav-item1 ul li:hover {
        text-decoration: underline;
        transition: 0.2s;
        cursor: pointer;
    }

    .nav-item2 ul li {
        list-style: none;
        padding-bottom: 5px;
    }

    .nav-item2 ul li:hover {
        text-decoration: underline;
        transition: 0.2s;
        cursor: pointer;
    }

    .form-box {
        margin-bottom: 10%;
        margin-top: 2%;
    }

    .form-box input {
        width: 80%;
    }

    .footer-socials-mobile {
        margin-top: 10%;
    }

    .footer-socials-mobile ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .footer-socials-mobile ul li img:hover {
        cursor: pointer;
        filter: drop-shadow(1px 1px 1px white);
        transition: 0.2s;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-logo img {
        margin: 10%;
    }

    .copy-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .get-button-final:hover {
        background-color: white;
        color: black;
        transition: 0.2s;
        cursor: pointer;
    }
}